<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Games</title>
  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
  </style>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
      <div class="icon-list iconesHeader">
        <i class="nes-mario"></i>        
        <i class="nes-charmander"></i>
    </div>
    <div class="titulo">
      <h1>QUIZ GAMES</h1>
    </div>
    <div class="header">
      <div class="info">
        <div class="vidas icon-list">
          <div class="vazios">
            <i class="nes-icon margem is-medium heart is-empty"></i>
            <i class="nes-icon margem is-medium heart is-empty"></i>
            <i class="nes-icon margem is-medium heart is-empty"></i>
            <i class="nes-icon margem is-medium heart is-empty"></i>
            <i class="nes-icon margem is-medium heart is-empty"></i>
          </div>
          <div class="cheios">
            <i v-for="vida in vidas" class="nes-icon marge is-medium heart"></i>
          </div>
        </div>
        <div class="textos">
          <span>TEMPO {{tempo}}s</span>
          <span>NIVEL {{indices.length}}/{{perguntas.length}}</span>
        </div>
      </div>
      <div class="progresso">
        <progress class="nes-progress is-pattern" :value="nivel" max="100"></progress>
      </div>
    </div>
    <div class="estrelas">
      <i v-for="estrela in estrelas" class="nes-icon margem is-large star"></i>
    </div>
    <div v-show="vidas > 0" class="quiz">

      <div class="nes-container with-title is-centered">
        <p class="nes-balloon from-left nes-pointer">{{pergunta.pergunta}}</p>
        <div class="perguntas">

          <label>
            <input value="1" v-model="indiceResposta" type="radio" class="nes-radio" name="answer" checked />
            <span>{{pergunta.op1}}</span>
          </label>

          <label>
            <input value="2" v-model="indiceResposta" type="radio" class="nes-radio" name="answer" />
            <span>{{pergunta.op2}}</span>
          </label>

          <label>
            <input value="3" v-model="indiceResposta" type="radio" class="nes-radio" name="answer" />
            <span>{{pergunta.op3}}</span>
          </label>

        </div>
      </div>

      <div class="menu">
        <button @click="enviarResposta()" type="button" class="nes-btn is-success"
          v-show="indiceResposta > 0, tempo > 0">
          RESPONDER
        </button>
        <button @click="pularPergunta()" type="button" class="nes-btn is-warning"
          v-show="indiceResposta > 0, tempo === 0">
          NEXT
        </button>
      </div>
    </div>
    <div v-show="vidas === 0" class="gameover icon-list">
      <h1 class="nes-text is-error"><br>Você perdeu!</h1><br>
      <div class="recompensa">
        <br>
        <p>
          SUAS ESTRELAS:<br>
          <i v-for="estrela in totalEstrelas" class="nes-icon marge is-small star"></i>
          {{totalEstrelas}}
                    
          <br><br>
          SEU RECORDE: LEVEL {{recorde}} </p>
        <br><br>
      </div>
      <button @click="jogarNovamente()" class="nes-btn is-primary">JOGAR NOVAMENTE</button>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>

</html>